<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
</head>
<body style="font-family:Poppins; background-color:blue;">
    <div >
        <img src="{% static 'images/logo.png' %}" alt="" style="display: block;
            height: 10vh;
            width: 10vw;
            margin: 0 auto;">
    </div>
<div>
    <table style="border-collapse: collapse;
        border: 1px solid black;
        margin: 50px auto;">
        <tr>
            <th style="border: 1px solid black;
                padding: 5px;">Name</th>
            <th style="border: 1px solid black;
                padding: 5px;">Age</th>
            <th style="border: 1px solid black;
                padding: 5px;">Phone</th>
            <th style="border: 1px solid black;
                padding: 5px;">Email</th>
            <th style="border: 1px solid black;
                padding: 5px;">Address</th>
            <th style="border: 1px solid black;
                padding: 5px;">Gender</th>
            <th style="border: 1px solid black;
                padding: 5px;">Education</th>
            <th style="border: 1px solid black;
                padding: 5px;">Relationship Status</th>
            <th style="border: 1px solid black;
                padding: 5px;">Hobby</th>
            <th style="border: 1px solid black;
                padding: 5px;">Income</th>
        </tr>
        {% for info in infos %}
        <tr>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.name}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.age}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.phone}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.email}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.address}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.gender}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.education}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.relationship_status}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.hobby}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.income}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>