{% extends "./base.html" %}
{% load static %}
{% block content %}
<div>
    <table style="border-collapse: collapse;
        border: 1px solid black;
        margin: 50px auto;">
        <tr>
            <th style="border: 1px solid black;
                padding: 5px;">Name</th>
            <th style="border: 1px solid black;
                padding: 5px;">Age</th>
            <th style="border: 1px solid black;
                padding: 5px;">Phone</th>
            <th style="border: 1px solid black;
                padding: 5px;">Email</th>
            <th style="border: 1px solid black;
                padding: 5px;">Address</th>
            <th style="border: 1px solid black;
                padding: 5px;">Gender</th>
            <th style="border: 1px solid black;
                padding: 5px;">Education</th>
            <th style="border: 1px solid black;
                padding: 5px;">Relationship Status</th>
            <th style="border: 1px solid black;
                padding: 5px;">Hobby</th>
            <th style="border: 1px solid black;
                padding: 5px;">Income</th>
        </tr>
        {% for info in infos %}
        <tr>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.name}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.age}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.phone}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.email}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.address}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.gender}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.education}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.relationship_status}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.hobby}}</td>
            <td style="border: 1px solid black;
                padding: 5px;">{{info.income}}</td>
        </tr>
        {% endfor %}
    </table>
<!--    <div>-->
<!--        <button style="display: block;-->
<!--          margin: 0 auto;-->
<!--          padding: 10px 20px;-->
<!--          border: 1px solid #ccc;-->
<!--          border-radius: 5px;-->
<!--          background-color: #eee;-->
<!--          color: #333;-->
<!--          cursor: pointer;"><a href="{% url 'generate_pdf' %}"-->
<!--                               style="color:black;-->
<!--                               font-size: 20px;-->
<!--                               font-family:Poppins;-->
<!--                               text-decoration:none">Download This Page As PDF</a></button>-->
<!--    </div>-->
</div>
{% endblock %}